---
// Foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Components
import Entries1 from "@/components/blog/Entries1.astro";
// Sections
import Subscribe from "@/components/ctas/Subscribe.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section class="overflow-hidden">
    <Wrapper class="pb-12 lg:pt-32">
      <Text
        tag="h1"
        variant="displayXL"
        data-aos="fade-up"
        data-aos-duration="1500"
        class="font-medium tracking-tighter text-base-900 capitalize"
      >
        {tag}
      </Text>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 border-t border-base-200 pt-8"
      >
        {posts.map((post) => <Entries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
  <Subscribe />
</BaseLayout>
