---
// Assets
import { Image } from "astro:assets";
import ContactImage from "@/images/sell.png";
// Foundations
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
---

<section class="overflow-hidden">
  <Wrapper class="pb-12 lg:pt-32">
    <Text
      tag="h2"
      variant="textXL"
      class="font-medium text-base-900"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      Sign up
    </Text>
    <div class="grid lg:grid-cols-3 pt-8 mt-40 border-t gap-8 border-base-200">
      <div class="relative overflow-hidden">
        <Image
          src={ContactImage}
          alt="#_"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="h-full object-cover object-center relative"
        />
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="absolute w-full h-full inset-0 p-8 bg-base-100/80 2xl:p-20"
        >
          <Text tag="h3" variant="displaySM" class="font-medium text-base-900">
            Save searches, save your favorite properties, and more.
          </Text>
        </div>
      </div>
      <div class="lg:col-span-2" data-aos="fade-up" data-aos-duration="2000">
        <form class="w-full">
          <div class="flex flex-wrap w-full gap-3">
            <Button type="submit" size="xl" variant="muted">
              Sign in with Google
            </Button>
            <Button type="submit" size="xl" variant="muted">
              Sign in with Apple
            </Button>
          </div>
          <div class="mt-8 pt-8 border-t border-base-200">
            <Text tag="p" variant="texrBase" class="text-base-500">
              Sign up with your email address instead.
            </Text>
          </div>
          <div class="flex flex-col gap-8 mt-2 pt-2 border-t border-base-200">
            <div>
              <label for="name" class="block text-xl font-medium text-base-900"
                >Name</label
              >
              <div>
                <input
                  id="name"
                  name="name"
                  type="text"
                  autocomplete="name"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>

            <div>
              <label for="email" class="block text-xl font-medium text-base-900"
                >Email address</label
              >
              <div>
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label for="phone" class="block text-xl font-medium text-base-900"
                >Phone number ( optional )</label
              >
              <div>
                <input
                  id="phone"
                  name="phone"
                  type="tel"
                  autocomplete="tel"
                  class="block w-full h-12 border-0 py-1.5 border-b
                border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400
                focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-xl font-medium text-base-900">Password</label
              >
              <div>
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div class="mt-4">
              <label
                for="confirmPassword"
                class="block text-xl font-medium text-base-900"
                >Confirm Password</label
              >
              <div>
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div class="flex flex-col">
              <p class="text-xl text-base-900 lg:text-pretty">
                Are you working with an associate or office?
              </p>
              <div class="mt-4 flex items-center gap-8">
                <div class="flex items-center">
                  <input
                    id="no"
                    name="no"
                    type="checkbox"
                    class="size-4 text-base-900 focus:ring-black border-base-200"
                  />
                  <label for="no" class="ml-2 block text-sm text-base-900"
                    >No</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    id="office"
                    name="office"
                    type="checkbox"
                    class="size-4 text-base-900 focus:ring-black border-base-200"
                  />
                  <label for="office" class="ml-2 block text-sm text-base-900"
                    >Office</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    id="agent"
                    name="agent"
                    type="checkbox"
                    class="size-4 text-base-900 focus:ring-black border-base-200"
                  />
                  <label for="agent" class="ml-2 block text-sm text-base-900"
                    >Agent</label
                  >
                </div>
              </div>
            </div>
            <div class="flex justify-between items-center">
              <a class="text-base-900 hover:text-base-500" href="/forms/sign-in"
                >Already have and account? Sign in instead.</a
              >
            </div>
          </div>
          <div class="flex w-full mt-8">
            <Button type="submit" size="xl" variant="default" class="ml-auto">
              Submit
            </Button>
          </div>
          <div
            class="mt-40 pt-8 border-t text-base-500 text-xs 2xl:text-sm space-y-4 border-base-200"
          >
            <Text tag="p" variant="textXS">
              By submitting this form, you acknowledge that you accept the
              quartiere's <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/terms">Terms</a
              > of Use and <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/privacy">Privacy Policy</a
              >.
            </Text>
          </div>
        </form>
      </div>
    </div>
  </Wrapper>
</section>
