---
// Assets
import { Image } from "astro:assets";
import ContactImage from "@/images/sell.png";
// Foundations
import Text from "@/components/foundations/elements/Text.astro";
import Button from "@/components/foundations/elements/Button.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
---

<section class="overflow-hidden">
  <Wrapper class="pb-12 lg:pt-32">
    <Text
      tag="h2"
      variant="textXL"
      class="font-medium text-base-900"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      Sign in
    </Text>
    <div class="grid lg:grid-cols-3 pt-8 mt-8 border-t gap-8 border-base-200">
      <div class="relative overflow-hidden">
        <Image
          src={ContactImage}
          alt="#_"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="h-full object-cover object-center relative"
        />
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="absolute w-full h-full inset-0 p-8 bg-base-100/80 2xl:p-20"
        >
          <Text tag="h3" variant="displaySM" class="font-medium text-base-900">
            Save searches, save your favorite properties, and more.
          </Text>
        </div>
      </div>
      <div class="lg:col-span-2" data-aos="fade-up" data-aos-duration="2000">
        <form class="w-full">
          <div class="flex flex-wrap w-full gap-3">
            <Button type="submit" size="xl" variant="muted">
              Sign in with Google
            </Button>
            <Button type="submit" size="xl" variant="muted">
              Sign in with Apple
            </Button>
          </div>
          <div class="mt-8 pt-8 border-t border-base-200">
            <Text tag="p" variant="texrBase" class="text-base-500">
              Sign in with your email address instead.
            </Text>
          </div>
          <div class="flex flex-col gap-8 mt-2 pt-2 border-t border-base-200">
            <div>
              <label for="email" class="block text-xl font-medium text-base-900"
                >Email address</label
              >
              <div>
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-xl font-medium text-base-900">Password</label
              >
              <div>
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full h-12 border-0 py-1.5 border-b border-base-200 text-base-900 ring-transparent focus:ring-black placeholder:text-base-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <input
                  id="keep-signed-in"
                  name="keep-signed-in"
                  type="checkbox"
                  class="size-4 text-base-900 focus:ring-black border-base-200"
                />
                <label
                  for="keep-signed-in"
                  class="ml-2 block text-sm text-base-900"
                  >Keep me signed in</label
                >
              </div>
              <a class="text-base-900 hover:text-base-500" href="/forms/sign-up"
                >Need an account? Sign up instead.</a
              >
            </div>
          </div>
          <div class="flex w-full mt-8">
            <Button type="submit" size="xl" variant="default" class="ml-auto">
              Submit
            </Button>
          </div>
          <div
            class="mt-40 pt-8 border-t text-base-500 space-y-4 border-base-200"
          >
            <Text tag="p" variant="textXS">
              By submitting this form, you acknowledge that you accept the
              quartiere's <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/terms">Terms</a
              > of Use and <a
                class="text-base-900 hover:text-base-500 underline"
                href="/infopages/privacy">Privacy Policy</a
              >.
            </Text>
          </div>
        </form>
      </div>
    </div>
  </Wrapper>
</section>
